AIBudsSDK/AIBudsLog.xcframework linguist-language=Swift
AIBudsSDK/AIBudsXLFacility.xcframework linguist-language=Swift
AIBudsSDK/AIBudsFoundation.xcframework linguist-language=Swift
AIBudsSDK/AIBuds.xcframework linguist-language=Swift
AIBudsSDK/ABMate.xcframework linguist-language=Swift
AIBudsSDK/AIBudsAIFoundation.xcframework linguist-language=Swift
AIBudsSDK/AIBudsAI.xcframework linguist-language=Swift
AIBudsSDK/AIBudsStarBurst.xcframework linguist-language=Swift
AIBudsSDK/AIBudsMagicHelper.xcframework linguist-language=Swift
AIBudsSDK/AIBudsAudio.xcframework linguist-language=Swift
AIBudsSDK/AIBudsVoiceAssistant.xcframework linguist-language=Swift
AIBudsSDK/AIBudsAIDashboard.xcframework linguist-language=Swift
AIBudsSDK/AIBudsCrashReporter.xcframework linguist-language=Swift
AIBudsSDK/AIBudsAllInOne.xcframework linguist-language=Swift
AIBudsSDK-Demo/** linguist-vendored

